.todoform {
  background-color: white;
  border-radius: 8px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0 4px 6px burlywood;
}

.inputfield {
  width: 100%;
  display: block;
  border: none;
  color: black;
  font-size: 16px;
}

.inputfield:focus {
  outline: none;
}

.button {
  border: none;
  border-radius: 4px;
  background-color: brown;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
}

.inputContainer {
  display: flex;
}
