.item {
  width: 500px;
  color: black;
  font-size: 20px;
  /* margin: 0 auto; */
}

.itemName {
  font-weight: bold;
  padding: 20px;
  /* padding: 20px; */
}

.line {
  border: 1px solid rgb(234, 230, 230);
}

.deleteButton {
  float: right;
  padding: 8px 16px;
  border: none;
  background-color: brown;
  color: white;
  margin-top: -5px;
  border-radius: 4px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
